@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lexend:wght@100&family=Shadows+Into+Light+Two&display=swap');

/*---- app.js (HOME)----*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.homepage_container {
  display: flex;
  justify-content: center;
  padding: 5%;
  
}

/*------------Defualt font-family-----------*/

h1 {
  font-family: 'Shadows Into Light Two', cursive;
}
p {
  font-family: 'Lexend', sans-serif;
}
/*------------------------------------------*/





/*----------------Navbar -------------------*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3em;
  margin-top: 2%;
}

nav ul li{
  text-decoration: none;
  display: inline-block;
}
nav a {
  text-decoration: none;
  margin-right: 25px;
  margin-left: 25px;
  color: rgb(87, 80, 80);
  font-size: 1.3em;
}

nav a:hover {
  color: burlywood;
}

#nav_title {
  font-size: 2em;
}

.nav_container li {
  text-decoration: underline;
}
.nav_container li:hover{
  text-decoration: overline;
}


/*------------------------------------------*/



/*-------------- Main Page------------------*/
.main_container {
  width: 520px;
  height: 700px;
  margin-top: 30px;
  background-color: rgb(223, 207, 184);
  padding: 10px;
  border-radius: 10px;
}

#main_title {
  margin-top: 20%;
  margin-left: 10%;
  font-size: 3em;
}

#main_text {
  margin-top: 15%;
  margin-left: 10%;
  margin-bottom: 2%;
  font-size: 1.7em;
}

#main_login_btn {
  margin-left: 10%;
  font-size: 30px;
  color: black;
}
#main_login_btn:visited {
  color: black;
}
#login_text {
  text-decoration: none;
}

.main_howtoplay {
  margin-top: 30%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: fantasy;
}

#main_howtoplay_title {
  font-size: 1.5em;
  margin-bottom: 2%;
}
#main_howtoplay_text {
  font-size: 1.4em;
}
/*----------------------------------------*/



/*--------------Login page----------------*/
#login_container {
  width: 50%;
  max-width: 500px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  padding: 2%;
}
/*----------------------------------------*/



/*--------In-game board/cell Page---------*/

.block_container {
  display: flex;
  justify-content: center;
}

.main_block_container {
  width: max-content;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(223, 207, 184);
}

.main_top_score_board {
  display: grid;
  grid-template-columns: 55% 20% 20% 5%;
  margin-bottom: 4%;
}

.cell_container { 
  border-radius: 7px;
}

#game_status {
  text-align: center;
  font-size: 1.5em;
}

/*----------------------------------------*/



/*---------In-game Top dashboard----------*/

.main_top_titleText_container {
  max-width: 250px;
}

#main_top_title {
  margin-left: 6%;
  font-size: 4em;
}

#main_top_text {
  margin-left: 6%;
  font-size: 1.3em
}

.scoreBest_text_container {
  text-align: center;
  margin-top: 25%;
  margin-left: 5%;
}

#seeBestScoreButton, #saveScoreButton {
  width: 95px;
  height: 23px;
  margin-left: 5px;
  margin-top: 10px;
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 1px solid gray
}

#seeBestScoreButton:hover, #saveScoreButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(246, 212, 163)
}

#seeBestScoreButton {
  width: 105px;
}

#current_score, #best_score {
  text-align: center;
  margin-top: 5%;
  margin-left: 6%;
  font-size: 2em;
}

/*----------------------------------------*/



/*--------------Profile-------------------*/
.profile_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}

#loggedIn_from {
  text-align: center;
  margin-top: 2%;
}

#user_profile_pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.userInfo_container_left { 
  margin-right: 2.5%; 
}
.userInfo_container_right { 
  margin-left: 2.5%; 
}

.userInfo_container_right h1 {
  font-size: 3em;
  margin-bottom: 15%;
}
.userInfo_container_right p{
  font-size: 1.3em;
}
.userInfo_container_right p:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 20px;
}


/*----------------------------------------*/


/*-------Copy right/linkedin/github-------*/
.made_in_container {
  display: flex;
  justify-content: flex-end;
  margin: 15% 2% 2% 0;
}

#linkedInIMG, #githubIMG {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column-reverse;
}
#linkedInIMG {
  margin: 0 10px 0 10px;
}

#linkedInIMG:hover, #githubIMG:hover{
  cursor: pointer;
  transform: scale(1.1);
}

#copyright{
  margin-top: 7%;
}
/*----------------------------------------*/